.landing-screen-courses {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;

  background: transparent
    radial-gradient(closest-side at 50% 50%, #a77bff 0%, #543e80 100%) 0% 0%
    no-repeat padding-box;

  color: #fff;
  padding: 20px;

  .courses {
    display: flex;
    justify-content: center;
    padding: 10px;

    img {
      height: 100px;
      width: 100px;
    }
  }
}
